<% layout('/layouts/boilerplate.ejs') %>

    <% if(data.length!=0){ %>
        <% for(let p of data ){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= p.title %>
                            </h5>
                            <p class="card-text">
                                <%= p.description %>
                            </p>
                            <p class="card-text"><small class="text-muted">
                                    <%= p.startdate %> to <%= p.enddate %>
                                </small></p>
                            <a href="/courses/get/<%= p._id %>" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>
                <% }else{ %>
                    <h4>No courses :(</h4>
                    <% } %>